main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url('../images/bg-login.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}


header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header a {
  color: #000;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.2s;
}

header a:hover {
  color: #888;
}
    
header .player {
  font-weight: bold;
}

header .timer  {
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
    
.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 10px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #FFF;
  cursor: pointer;
  }

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  border-radius: 8px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/imgcard.png');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 25px;
}

.modal-content p {
  margin-top: 10px;
  font-size: 18px;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #008dff;
  color: #FFF;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.modal-content button:hover {
  background-color: #0162b1;
}


@media screen and (max-width:920px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);

  }

  .modal-content h2 {
    margin-top: 0;
    font-size: 25px;
  }
  
  .modal-content p {
    margin-top: 10px;
    font-size: 18px;
  }

  .modal-content button {
    margin-top: 0;
    font-size: 15px;
  }

}