
body {
  background: url('../images/bg-login.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 310px;
  position: relative;
  top: 20px; /* ou bottom: 20px; */
}


.login__header h1 {
  color: #333;
  font-size: 10px;
}

.login__input {
  border: 2px solid #333;
  border-radius: 8px;
  color: #000000;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #008dff;
  border: 2px solid #000;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:disabled {
  background-color: #008dff;
  border: 2px solid #000;
  color: #ffffff;
  cursor: auto;
}

#footer .credits {
  text-align: center;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
}

#footer .credits img {
  width: 100px;
  text-align: center;
  padding-top: 5px;
}